//Colors
$brand-color: #000;

$dark-gray-color: #333;
$medium-gray-color: #888;
$light-gray-color: #ccc;

$accent-blue-color: blue;
$accent-red-color: red;
$accent-purple-color: purple;
$accent-orange-color: orange;

//TODO verify if needed
//$error-color: #d04335;
//$success-color: #88DF88;

//Breakpoints
$tablet-start:         721px!default;
$desktop-start:        1024px!default;
$desktop-wide-start:   1180px!default;

//Grid
$gutter: 50px;
$tablet-gutter: 30px;

//Fonts
$ff-NAME: Arial, sans-serif;
$base-font: normal 16px/1.4 $ff-NAME;